<% include partials/header %>
<div class="container">

<p>Powered by Google Maps </p>

<br>
<form action="/results" method="POST">
    <input type="text" name="starting" placeholder="Starting">
    <input type="text" name="destination" placeholder="Destination">
    <button class="btn btn-primary" ><i class="fa fa-clock-o" aria-hidden="true"></i> Check Time</button>
</form>
</div>
<% include partials/footer %>